<app-admin-navbar> </app-admin-navbar>

<div class="container-fluid vw-100 vh-100 d-flex justify-content-center align-items-center bg-secondary">



    <div
        class="container col-lg-8 col-md-6 col-xs-12 d-flex justify-content-center align-items-center p-0 m-0 bg-warning">

        <ul class="nav bg-dark  ">

            <li class="nav-item">
                <a class="nav-link disabled" href="#">Choose Category</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

        </ul>

        <div>



        </div>

    </div>

</div>